<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="like">

	<insert id="create">
		insert into tbl_like(bno, uid)
		values(#{bno}, #{uid})
	</insert>

	<select id="read" resultType="likeVO">
		select *
		from tbl_like
		where bno = #{bno} and uid = #{uid}
	</select>
	
	<delete id="delete">
		delete from tbl_like
		where bno = #{bno} and uid = #{uid}
	</delete>
	
</mapper>